<section class="about-container">
<div class="about-header jumbotron">
  <h2>About Us</h2>
</div>
<div class="about-body">
  <h4>Welcome to the Jungle! We curate unique products that add spice to your life.</h4>
  <p>
    <br>
    Jerky hamburger strip steak ribeye prosciutto pork loin ball tip filet mignon chicken. Pork shoulder bresaola, fatback doner capicola prosciutto cupim chislic alcatra swine jowl boudin. Tail buffalo bresaola jowl ball tip, prosciutto flank. Porchetta meatloaf doner tenderloin, turkey ham hock chicken andouille pancetta.
    <br>
    <br>
    Boudin pastrami bresaola porchetta jerky, cupim kevin tail. Brisket tri-tip turducken rump sausage pastrami hamburger fatback alcatra. Doner t-bone shankle, kielbasa cupim fatback tongue ham strip steak meatball beef ham hock prosciutto shank pork loin. Cow andouille shoulder porchetta kevin tail drumstick chislic. Shank venison burgdoggen, pancetta fatback meatloaf cow. Biltong t-bone tail chuck shank shoulder pork loin landjaeger ribeye tenderloin. 
    <br>
    <br>
    Ham prosciutto beef ribs, andouille tail sirloin tongue. Pork belly bacon biltong, turducken pork ground round beef short loin. Pastrami ground round jerky flank pork loin chislic brisket shank corned beef ribeye kielbasa. Hamburger prosciutto jerky brisket leberkas corned beef burgdoggen t-bone beef. Swine beef ribs tenderloin, rump bresaola pig chislic.
    <br>
    <br>
  </p>
</div>

<div class="about-footer">
  <%= link_to "Continue Shopping", root_path, class: 'btn btn-lg btn-primary' %>
</div>
</section>